$duration: 0.35s ease-out;

// On change layout
.layout {
  &-enter-active, &-leave-active {
    transition: opacity $duration;
  }
  &-enter, &-leave-active{
    opacity: 0
  }
}

// On change routes
.page {
  &-enter-active, &-leave-active {
    transition: all $duration;
  }
  &-enter, &-leave-active {
    opacity: 0;
    transform: scale(1.3);
  }
}

// On reload page
.fade {
  &-enter-active, &-leave-active {
    transition: opacity $duration;
  }
  &-enter, &-leave-active{
    opacity: 0
  }
}
